# ignore dataset user can add that themselves if they want to.
data_og/

# ignore virtual environment.
venv/

# ignore extracted frames.
extracted_frames/

# ignored grayscale frames.
grayscale_extracted_frames/

# ignored extracted dataset
dataset/